<script>
import { HalfCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min'
import MoneyIcon from '@/static/icons/money.svg'


export default {
  name: 'FinancialForm',
  components: {
    HalfCircleSpinner,
    MoneyIcon
  },
  data: () => ({
    colorInputActive: '#001C95',
    colorInputInactive: '#CBD5DC',
    loading: false,
    form: {
      annualIncome: {
        value: "",
        active: false
      },
      monthlyCosts: {
        value: "",
        active: false,
      },
      rule: [
        v => !!v || "Required field",
        v => parseInt(v.replaceAll(',', '')) > 0  || "This field must be greater than 0"
      ]
    },
    valid: false
  }),
  methods: {
    submit: async function() {
      this.loading = true;
      let form = Object.assign({}, this.form)

      this.$refs.form.validate() && await this.$financial.create({
        "annualGrossIncome": form.annualIncome.value.replaceAll(",", ""),
        "monthlyCost": form.monthlyCosts.value.replaceAll(",", "")
      }).then(data => {
        this.$emit('click', data)
      }).finally(() => {
        this.loading = false;
      });
    }
  }
}
</script>
<template lang="pug">
  v-layout(align-center, justify-center, fill-height)
    v-flex(sm12, xs12, md4, lg4)
      .label Let's find out your
        b &nbsp;financial wellness score.
      .card
        .card-header
          .card-header-image
            v-img(:src='require("@/static/logo-circle-black.png")', width="64")
          .card-header-title Financial wellness test
          .card-header-subtitle Enter your financial information below
        .card-form
          v-form.form(ref='form' v-model="valid" @submit.prevent)
            v-layout(wrap)
              v-flex(sm12, xs12, md6, lg6)
                .card-form-label Annual income
                v-text-field(v-model="form.annualIncome.value", outlined, single-line, :color="form.annualIncome.active ? colorInputActive : colorInputInactive", @mouseup="form.annualIncome.active = true", @blur="form.annualIncome.active = false", v-money="{precision: 0}", :rules="form.rule")
                  template(slot='prepend-inner')
                    MoneyIcon(:fill="form.annualIncome.active ? colorInputActive : colorInputInactive")
              v-flex(sm12, xs12, md6, lg6)
                .card-form-label Monthly Costs
                v-text-field(v-model="form.monthlyCosts.value", outlined, single-line, :color="form.monthlyCosts.active ? colorInputActive : colorInputInactive", @mouseup="form.monthlyCosts.active = true", @blur="form.monthlyCosts.active = false", v-money="{precision: 0}", :rules="form.rule")
                  template(slot='prepend-inner')
                    MoneyIcon(:fill="form.monthlyCosts.active ? colorInputActive : colorInputInactive")
        .card-submit
          v-btn(rounded, color="primary", depressed, @click="submit", v-if="!loading", :disabled="!$refs.form  ||  !$refs.form.validate()") Continue
          v-btn(rounded, color="primary", depressed, v-else)
            HalfCircleSpinner(:animation-duration="3000", :size="24", color="white")

</template>

<style lang="scss" scoped>
.label {
  text-align: center;
  color: var(--brand-primary);
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  margin: 0 0 24px;
}

.card {
  background: white;
  padding: 32px;
  box-shadow: 0 2px 10px rgba(30, 42, 50, 0.08);

  @media(max-width: 768px) {
    padding: 16px;
  }

  &-header {
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-column-gap: 16px;

    @media(max-width: 768px) {
      grid-template-columns: 1fr;
      justify-items: center;
    }

    &-image {
      grid-row: 1/3;

      @media(max-width: 768px) {
        margin-bottom: 12px;
      }
    }

    &-title {
      font-family: var(--font-secondary);
      font-weight: 500; //styleName: LG / headingSmall;
      font-size: 24px;
      line-height: 29px;
    }

    &-subtitle {
      color: var(--brand-subtitle);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  &-form {
    margin: 24px 0 0 0;

    &-label {
      margin: 0 0 4px;
      font-size: 14px;
      line-height: 21px;
      color: var(--brand-label);
    }
  }

  &-submit {
    display: grid;
    justify-content: center;
    margin: 32px 0 0;

    @media(max-width: 768px) {
      margin: 10px 0 0;
    }

    .v-btn {
      text-transform: capitalize;
      font-size: 16px;
      line-height: 16px;
      height: 56px;
      width: 320px;
      padding: 20px;
    }

  }
}
</style>
