<script>
import { HalfCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min'
import MoneyIcon from "@/static/icons/money.svg"


export default {
  name: "FinancialScore",
  components: {
    HalfCircleSpinner,
  },
  props: {
    score: {
      type: Object,
      default: () => ({})
    }
  },
  data: () => ({
    config: {
      colors: ['danger','warning','success'],
      values: ['Unhealthy','Average','Healthy']
    },
  }),
  methods: {
    getConfigColor: function(index) {
      let colorIndex = Object.assign([],this.config.values).reverse().indexOf(this.score.status) + 1;
      let color = Object.assign([],this.config.colors).reverse()

      return index >= colorIndex ? `var(--brand-${color[--colorIndex]})` : ''
    },

    submit: function() {
      this.$emit('click');
    }
  }
}
</script>
<template lang="pug">
  v-layout(align-center justify-center fill-height)
    v-flex(sm12, xs12, md4, lg4)
      .label Here's your
        b &nbsp;financial wellness score:
      .card
        .card-header
          .card-header-image
            v-img(:src='require("@/static/logo-circle-black.png")', width="64")
        .card-score
          .card-score-bars
            .card-score-bars-item(v-for="index in 3", :style="{'backgroundColor': getConfigColor(index)}", :key="index")
          .card-score-title {{!!score.statusMessage && score.statusMessage}}.
          .card-score-subtitle Your financial wellness score is
            b &nbsp;{{!!score.status && score.status}}.
        .card-submit
          v-btn(rounded, color="primary", depressed, outlined, @click="submit" ) Return

</template>

<style lang="scss" scoped>
.label {
  text-align: center;
  color: var(--brand-primary);
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  margin: 0 0 24px;
}

.card {
  background: white;
  padding: 32px;
  box-shadow: 0 2px 10px rgba(30, 42, 50, 0.08);

  @media(max-width: 768px)  {
    padding: 16px;
  }

  &-header {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  &-score {
    text-align: center;

    &-bars {
      margin: 24px 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-flow: dense;
      direction: rtl;

      &-item {
        height: 24px;
        width: calc(100% + 20px);
        margin: 0 -10px;
        border-radius: 24px;
        border: 2px solid #FFFFFF;
        background: #E9EEF2;
      }
    }

    &-title {
      font-family: var(--font-secondary);
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
    }

    &-subtitle {
      font-size: 16px;
      line-height: 24px;
      color: var(--brand-input);
    }

  }

  &-submit {
    display: grid;
    justify-content: center;
    margin: 32px 0 0;

    .v-btn {
      text-transform: capitalize;
      font-size: 16px;
      line-height: 16px;
      height: 56px;
      width: 320px;
      padding: 20px;
    }

  }
}
</style>
