.v-input input {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  font-family: var(--font-secondary);
  color: var(--brand-input) !important;
}

.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
  color: #CBD5DC !important;
}

.container.grid-list-xl .layout .flex {
  padding: 0 12px;
}

.v-btn--outlined {
  border: 2px solid currentColor;
}

.v-btn__content {
  letter-spacing: normal;
}

