:root {
  --brand-primary: #001C95;
  --brand-subtitle: #708797;
  --brand-label: #1E2A32;
  --brand-input: #4D6475;
  --brand-success: #04C761;
  --brand-warning: #FFC032;
  --brand-danger: #D32A36;


  --font-primary: 'Work Sans', sans-serif;
  --font-secondary: 'Rubik', sans-serif;
}

.v-application {
  font-family: var(--font-primary)
}


