<script>
import Toolbar from '~/components/core/toolbar'
import Viewer from '~/components/core/viewer'
import Footer from '~/components/core/footer'


export default {
  components: {
    Toolbar,
    Viewer,
    Footer
  }
}
</script>

<template lang="pug">
  v-app
    Toolbar
    Viewer
    Footer
</template>

<style lang="scss">
  @import '../node_modules/epic-spinners/dist/lib/epic-spinners.min.css';
</style>
