<script>
import FinancialForm from '@/components/home/financial-form'
import FinancialScore from '@/components/home/financial-score'


export default {
  head: () => ({
    title: 'Financial Wellness'
  }),
  components: {
    FinancialForm,
    FinancialScore
  },
  data: () => ({
    step: 1,
    score: {}
  }),
  methods: {
    goToScore(data) {
      this.score = data;
      this.step = 2;
    }
  }
}
</script>


<template lang="pug">
  v-container(fill-height, fluid, grid-list-xl)
    FinancialForm(v-show="step === 1", @click="goToScore")
    FinancialScore(v-show="step === 2", @click="step--", :score="score")

</template>

<style lang="scss" scoped>

</style>
