<script>
import LockIcon from '@/static/icons/lock.svg';

  export default {
    name: 'Footer',
    components: {
      LockIcon
    }
  }
</script>

<template lang="pug">
  v-footer(height="160px" color="background")
    .footer-text
      LockIcon
      | Your financial information is encrypted and secure. We'll never share or sell any of your personal data.
</template>

<style lang="scss" scoped>
.footer-text {
  display: grid;
  grid-template-columns: 24px 1fr;
  grid-gap: 16px;

  @media(max-width: 768px)  {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }

  justify-content: center;
  margin: 0 auto;

  font-size: 14px;
  line-height: 21px;
  color: var(--brand-subtitle);
}
</style>
