<script>
export default {
  name: 'Toolbar'
}
</script>

<template lang="pug">
  v-toolbar(flat, height="80px", color="white")
    img(:src='require("@/static/logo.png")', width="100")
</template>


<style lang="scss" scoped>
  .v-toolbar{
    justify-content: center;
    align-items: center;
    display: grid;
  }
</style>
