<script>
  export default {
    name: 'Viewer',
  }
</script>

<template lang="pug">
  v-main
    #core-view(ref="viewer")
      v-fade-transition(mode='out-in')
        nuxt
</template>

<style lang="scss" scoped>
  #core-view {
    margin: 0;
    height: calc(100vh - 240px);
    background-color: #F4F8FA;
    display: grid;
  }
</style>
